## R12725049 Assignment2

### 1(a.) 試簡述何謂維度的詛咒？試列舉一案例說明。

- 隨著函數（或模型）所需要估計未知參數的增加，樣本所需要的數量會呈現指數型的成長，樣本數不足的情況容易發生不易收斂或多重解的可能性
- 如影像處理即可能面臨維度詛咒。一個800*600的彩色照片代表有1440000個變數。

### 1(b.) 避免維度詛咒的方法有哪些？

- 降低維度
- 在給定誤差的情況下滿足最少需要的樣本數
- 僅留下需要的Feature
- Clustering

### 1(c.)，試著重新繪製圖 3.12，呈現維度與預測

### 2(a.) 試說明損失函數與模型評估指標有何不同？

#### 模型訓練時使用損失函數，模型訓練後使用評估指標
- 損失函數
    - 訓練與配適模型時最小化的目標函數，作為調整模型複雜度與權衡偏誤與變異
    - 其函數特性常需要滿足一定的要求，例如具備「微分特性」、「連續性」等性質。通常只能比較相對性，無法解釋絕對的誤差大小
- 評估指標
    - 用以衡量訓練後的模型表現，評估最終結果，需具備「公平性」與「比較性」

### 2(b.)試使用網際網路(internet)學習，損失函數的設計有哪些？試列舉兩種，並說明其各自的優缺點或可建議的使用時機。

MSE與Log Loss是兩種常見的Loss Funtion
- MSE：常用於Lenear Regression的問題上
    - 優點：相對容易理解和計算，因為它具有可微分的圖形。
    - 缺點：對異常值不敏感，若誤差小於一，可能低估模型的不良程度。
- Log Loss：常用於Logistic Regression的問題上
    - 優點：非常適用於大量觀測數據，當觀測數量達到數千以上時，表現非常出色。
    - 缺點：不像MSE那樣容易解釋和計算，尤其在多分類問題中，且對異常值敏感。

### 3(a) 根據此開放數據，您會用什麼方法來確認資料品質的好壞？試操作一次並說明其細節。

In [6]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

file_path = r"./MDS_Assignment2_kidney.xlsx"

In [16]:
# 使用Pandas的read_excel函數讀取檔案
df_kidney = pd.read_excel(file_path,sheet_name=0,header=None)
df_kidney

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,48,80,1.02,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.02,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.01,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.01,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.02,0,0,normal,normal,notpresent,notpresent,140,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0,0,normal,normal,notpresent,notpresent,75,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.02,0,0,normal,normal,notpresent,notpresent,100,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0,0,normal,normal,notpresent,notpresent,114,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0,0,normal,normal,notpresent,notpresent,131,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [17]:
# 使用Pandas的read_excel函數讀取檔案
df = pd.read_excel(file_path,sheet_name=1,usecols="D",header=None)
df
new_df = df[31:56]
new_df

                             3
0                          NaN
1                          NaN
2                          NaN
3                          NaN
4    Dr.P.Soundarapandian.M.D.
..                         ...
143                        NaN
144                        NaN
145                        NaN
146                        NaN
147                        NaN

[148 rows x 1 columns]

In [22]:
df_kidney.columns = new_df.T.values[0]

In [23]:
df_kidney

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.02,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.02,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.01,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.01,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55,80,1.02,0,0,normal,normal,notpresent,notpresent,140,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42,70,1.025,0,0,normal,normal,notpresent,notpresent,75,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12,80,1.02,0,0,normal,normal,notpresent,notpresent,100,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17,60,1.025,0,0,normal,normal,notpresent,notpresent,114,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58,80,1.025,0,0,normal,normal,notpresent,notpresent,131,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [24]:
# 查看資料及概況
df_kidney.describe()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
count,400,400,400.00,400,400,400,400,400,400,400,...,398,395,394,394,389,387,387,387,387,387
unique,77,11,6.00,7,7,3,3,3,3,147,...,43,89,45,3,4,3,3,3,3,2
top,60,80,1.02,0,0,normal,normal,notpresent,notpresent,?,...,?,?,?,no,no,no,good,no,no,ckd
freq,19,116,106.00,199,290,201,259,354,374,44,...,70,104,128,247,256,351,304,312,326,237

In [27]:
# 查看資料內有多少問號值
(df_kidney == "?").sum()

age        9
bp        12
sg        47
al        46
su        49
rbc      152
pc        65
pcc        4
ba         4
bgr       44
bu        19
sc        17
sod       87
pot       88
hemo      52
pcv       70
wc       104
rc       128
htn        2
dm         2
cad        2
appet      1
pe         1
ane        1
class      0
dtype: int64